<nav class="navbar navbar-dark bg-dark">
<%= image_tag "apple.png" %>
</nav>

<br><br><br><br><br><br>
<div class="col-md-12 text-center text-body">
    <h1>AD Request Form</h1><br>
    <form action="/new_ad_request" method="post">
        <label for="">End User Name</label><br>
        <input type="text" id="end_user_name" name="end_user_name" value=""><br><br>
        <label for="">End User DSID</label><br>
        <input type="text" id="end_user_dsid" name="end_user_dsid" value=""><br><br>
        <label for="">Manager that has Approved</label><br>
        <input type="text" id="ad_name" name="ad_name" value=""><br><br>
        <label for="">Duties & Access to perform job</label><br>
        <input type="text" id="end_user_name" name="end_user_name" value=""><br><br>
        <label for="">Mirror name</label><br>
        <input type="text" id="mirror_name" name="mirror_name" value=""><br><br>
        <label for="">Mirror DSID</label><br>
        <input type="text" id="mirror_dsid" name="mirror_dsid" value=""><br><br>
    </form>
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary">
</div>    
