<nav class="navbar navbar-dark bg-dark">
<%= image_tag "apple.png" %>
</nav>



<div class="container">
        <div class="position-absolute mid-center">
            <a style="text-decoration:none" href="https://istweb.apple.com/global-security/gsit"><button class='btn btn-primary'>Submit General Ticket</button></a><br>
            <a style="text-decoration:none" href="<%= new_hire_path %>"><button class='btn btn-primary' id="new_hire">New Hire</button></a><br>
            <a style="text-decoration:none" href="<%= ad_request_path %>"><button  class='btn btn-primary' id="ad_request">AD Request</button></a><br>
        </div>
    </>
</div>