/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn-primary {
    display: block;
    padding: 30px;
    background-color: white;
    color: #17A0B6;
    border-color: #17A0B6;
    font-family: -apple-system,
    BlinkMacSystemFont;
    font-size: 25px;
}

.btn-primary:hover {
    background-color: #17A0B6;
    border-color: #17A0B6;
    font-family: -apple-system,
    BlinkMacSystemFont;
}

.btn-secondary {
    background-color: white;
    color: #17A0B6;
    border-color: #17A0B6;
    font-family: -apple-system,
   BlinkMacSystemFont;
}

.btn-secondary:hover {
    background-color: #17A0B6;
    border-color: #17A0B6;
    font-family: -apple-system,
    BlinkMacSystemFont;
}

.text-body {
    font-family: -apple-system,
    BlinkMacSystemFont;
}

.jumbotron {
    background-color: black;
    padding: 5px;
}

.navbar {
    padding: 13px;
}

 .mid-center {
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
 }

 #new_hire {
     width: 100%;
 }

 #ad_request {
     width: 100%;
 }

.nav-link {
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
    border-left: 2px solid #17A0B6;
    width: 70%;
    padding: 15px;
    color: #17A0B6;
    font-family: -apple-system,
    BlinkMacSystemFont;
   
 }

 #nav-link-2 {
     color: black;
     border-left: white;
    
 }

 #nav-link-2:active {
     border-top: 1px solid #F8F8F8;
     border-bottom: 1px solid #F8F8F8;
     border-left: 2px solid #17A0B6;
     color: #17A0B6;
 }

 #nav-link-2:focus {
     border-top: 1px solid #F8F8F8;
     border-bottom: 1px solid #F8F8F8;
     border-left: 2px solid #17A0B6;
     color: #17A0B6;
 }

 #nav-links {
     position: sticky;
     Top: 0;
 }

 #check-box {
     margin-left: 50px;
}
